{% extends 'landing/base.html' %}

{% load static %}

{% block extrahead %}
    <title>Fast Reading</title>
{% endblock %}  


{% block content %}

            <div class="container mt-3 px-4 px-lg-5">
                <div class="text-center">
                    <h1>This is your text optimized with Fast-Reading</h1>
                    <br>
                    <p>
                        <a class="btn btn-success mx-4"  href="{% url 'pdf_download' %}">Download Optimized PDF</a>
                        <a class="btn btn-warning mx-4"  href="/fastReading/upload#Load%20the%20file">Do you want to try another one?</a>
                    </p>
                    <br>
                </div>
                <div class="reading-text text-justify">
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <br>
                            <p>
                                {% autoescape off%}
                                {{b_text}}
                                {% endautoescape %}
                            </p>
                            <br>
                        </div>
                    </div>
                </div>

{% endblock %}