asgiref==3.5.2
Brotli==1.0.9
dj-database-url==1.0.0
Django==4.0.4
django-environ==0.9.0
django-ckeditor==6.5.1
gunicorn==20.1.0
Pillow==9.3.0
psycopg2==2.8.6
psycopg2-binary==2.9.5
pycodestyle==2.9.1
PyPDF2==2.10.8
pytz==2022.2.1
sqlparse==0.4.2
toml==0..10.2
tzdata==2022.2
whitenoise==6.2.0
xhtml2pdf==0.2.8