body {
    background-color: #43854e;
}

h1 {
    text-align: center;
    font-family: 'Solitreo', cursive;
    font-size: 60px;
}

h2 {
    font-family: 'Solitreo', cursive;
    font-size: 40px;
}

h5 {
    font-family: 'Solitreo', cursive;
}

p {
    font-size: 16px;
}

.wrapper {
    display: flex;
}

.main {
    width: 85%;
}

.main h1, h2, p, ul, li {
    color: white;
}

.sidebar {
    width: 15%;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    justify-content: center;
    text-align: center;
    min-width: 180px;
    background-color: lightgreen;
    color: #315f38;
    -webkit-box-shadow: 6px 0px 19px -1px rgba(5, 43, 1, 1);
    -moz-box-shadow: 6px 0px 19px -1px rgba(5, 43, 1, 1);
    box-shadow: 6px 0px 19px -1px rgba(5, 43, 1, 1);
}

.sidebar a {
    color: #315f38;
}

.alimentos {
    padding: 40px 40px 80px 40px;
    margin: auto;
}

.alimentos .carousel {
    max-width: 800px;
}

.carousel-item {
    height: 500px;
}

.nav-link{
    text-decoration: none;
    transition: transform 0.3s;
}

.nav-link:hover, .nav-link:focus {
    text-decoration: none;
    color: #315f38;
    transform: scale(1.2);
}

.img-carousel {
    max-width: 100%;
    height: auto;
}