body {
    background-color: #43854e;
}

h1 {
    text-align: center;
    font-family: 'Solitreo', cursive;
    font-size: 60px;
}

h2 {
    font-family: 'Solitreo', cursive;
    font-size: 40px;
}

h3 {
    font-family: 'Solitreo', cursive;
    font-size: 30px;
}

h4 {
    font-family: 'Solitreo', cursive;
    font-size: 22px;
}

h5 {
    font-family: 'Solitreo', cursive;
}

p {
    font-size: 16px;
}

.wrapper {
    display: flex;
}

.main {
    width: 85%;
    color: white;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    color: white;
}

.sidebar {
    width: 15%;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    justify-content: center;
    text-align: center;
    min-width: 180px;
    background-color: lightgreen;
    color: #315f38;
    -webkit-box-shadow: 6px 0px 19px -1px rgba(5, 43, 1, 1);
    -moz-box-shadow: 6px 0px 19px -1px rgba(5, 43, 1, 1);
    box-shadow: 6px 0px 19px -1px rgba(5, 43, 1, 1);
}

.alimentos {
    padding: 40px 40px 80px 40px;
    margin: auto;
}

.alimentos .carousel {
    max-width: 800px;
}

.carousel-item {
    height: 500px;
}

.nav-link {
    text-decoration: none;
    transition: transform 0.3s;
}

.nav-link:hover, .nav-link:focus {
    text-decoration: none;
    color: #315f38;
    transform: scale(1.2);
}

.img-carousel {
    max-width: 100%;
    height: auto;
}

.bullet {
    width: 22px;
    height: 22px;
}

.table {
    background-color: white;
    width: 400px;
}

.flex-container-pickfood {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.flex-container-pickfood-item {
    width: 250px;
}

.flex-container-menu {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    justify-content:space-evenly;
}

.flex-container-menu-item {
    margin: 10px 10px;
}

th, td {
    color: #315f38;
}

td {
    width: 200px;
}

th {
    text-align: center;
}

#nutritable, #menu, #tabla-alimentos-por-categoria {
    -webkit-box-shadow: 7px 6px 48px -7px rgba(2, 82, 7, 1);
    -moz-box-shadow: 7px 6px 48px -7px rgba(2, 82, 7, 1);
    box-shadow: 7px 6px 48px -7px rgba(2, 82, 7, 1);
}

.sidebar * {
    color: #315f38;
    font-weight: bold;
}

.footer {
    color: white; !important
}