{% extends 'blog/base.html' %}

{% load static %}

{% block extrahead %}
    <title>Travel Blog</title>
{% endblock %}  


{% block content %}
<div class="container text-center p-3">
    <div class="row gx-4 gx-lg-5 justify-content-center mt-4">
        <div class="col-lg-10">
            <div class="content-section-heading text-center">
                <h1 style="font-size: 90px" class="mb-4"><strong>LOGIN</strong></h1>
            </div>
        </div>
    </div>
    <div class="position-relative overflow-hidden p-3 p-md-7 m-md-3 text-center">
        <div class="col-md-6 p-lg-6 mx-auto">
            <h2 class="fw-normal mb-3" style="color:#ffd000;">ENTER YOUR USERNAME AND PASSWORD</h2>
        </div>
    </div>
</div>


<div class="position-relative overflow-hidden p-md-7 m-md-3 text-center">
    <div class="col-md-6 p-lg-6 mx-auto ">
        <div class="col-6 mx-auto">
            {% if user.is_authenticated %}
            You are already logged in
            <br>
            {% else %}
            <div class="col form-group">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Username:</label>
                        <input type="text" name="username" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password:</label>
                        <input type="password" name="password" class="form-control">
                    </div>
                    <input class="btn btn-success btn-l fs-4" type="submit" value="Login" >
                </form>
            </div>
            {% endif %}
            <div class="m-5">
                <p>
                    <h4 class="text-secondary mb-1">Not registered yet?</h4>
                </p>
                <p>
                    <a class="btn btn-light" href="{% url 'UserRegistrationView' %}">Register</a>
                </p>
                <br>
                <p class="m-3">
                    <a class="btn btn-warning btn-l" href="{% url 'BlogListView' %}">Back to Blog Home</a>
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock %} 