{% extends 'nutriplan/aaa_base.html' %}

{% load static %}

{% block extrahead %}
    <title>Nutriplan</title>
{% endblock %}


{% block content %}
    <header>
    </header>
        <div>

            {% for dia in dias %}
            <h2>Día {{dia}}</h2>

                {% for comida in COMIDA_CHOICES %}
                <h4>{{comida}}</h4>

                <table class="table table-success table-striped table-hover table-sm table-responsive">
                <thead>
                    <tr>
                    <th scope="col">Alimento</th>
                    <th scope="col">Porción (gramos)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for momentoDelDia, numeroDeDia in Dieta.items %}

                        {% if momentoDelDia == comida %}

                            {% for numeroDeDia, alimento in numeroDeDia.items %}

                                {% if numeroDeDia == dia %}

                                    {% for nombre, gramos in alimento.items %}
                                    <tr>
                                    <td>{{ nombre }}</td>
                                    <td>{{ gramos }}</td>
                                    </tr>
                                    {% endfor %}

                                {% endif %}
                            
                            {% endfor %}
                        
                        {% endif %}

                    {% endfor %}
                </tbody>
                </table>
                {% endfor %}

            {% endfor %}

        </div>
    </main>
{% endblock %}
