{% extends 'nutriplan/aaa_base.html' %}

{% load static %}

{% block extrahead %}
    <title>Nutriplan</title>
    {% include 'nutriplan/script_msj_alerta.html' %}
{% endblock %}


{% block content %}
    <header>
    </header>

    <main>
        <div>
            <h2>Paso 3: Meriendas</h2>
            <p>Nuestra jornada está casi terminando y hemos consumido muchas energías.</p>
            <p>Ahora es momento de reponer fuerzar para llegar más balanceados a la cena y a la hora del descanso.</p>
            <p>Elige hasta 3 de tus alimentos favoritos para la merienda.</p>


            <form action="/nutriplan/elegir-cenas-favoritas" method="POST">
                {% csrf_token %}

                {% for comida in COMIDA_CHOICES %}
                    {% if comida == 'Merienda' %}
                        <h3>{{comida}}</h3>
                        <div id="checkboxgroup{{comida}}">
                        {% for alimento in alimentos %}
                            {% if alimento.comida == comida %}
                            <label>
                                <input type="checkbox" name="opciones{{comida}}" value="{{alimento.id}}" onclick="return onlyOneCheckBox{{comida}}()"> {{alimento.nombre}} <!-- {{alimento.id}} {{alimento.comida}} -->
                            </label><br>
                            {% endif %}
                        {% endfor %}
                        </div>
                        <script type="text/javascript">
                            onlyOneCheckBox{{comida}}()
                        </script>
                    {% endif %}
                {% endfor %}

                <input type="submit" value="Ya casi terminamos! Vamos al último paso">
            </form>
        </div>
    </main>
{% endblock %}
