{% extends 'nutriplan/aaa_base.html' %}

{% load static %}

{% block extrahead %}
    <title>Nutriplan</title>
    {% include 'nutriplan/script_msj_alerta.html' %}
{% endblock %}


{% block content %}
    <header>
    </header>

    <main>
        <div>
            <h2>Paso 1: Desayunos</h2>
            <p>El desayuno es una de las comidas más importantes del día.</p>
            <p>Necesitas un buen desayuno para comenzar el día con energías.</p>
            <p>Elige hasta 3 de tus alimentos favoritos para el desayuno.</p>


            <form action="/nutriplan/elegir-almuerzos-favoritos" method="POST">
                {% csrf_token %}

                {% for comida in COMIDA_CHOICES %}
                    {% if comida == 'Desayuno' %}
                        <h3>{{comida}}</h3>
                        <div id="checkboxgroup{{comida}}">
                        {% for alimento in alimentos %}
                            {% if alimento.comida == comida %}
                            <label>
                                <input type="checkbox" name="opciones{{comida}}" value="{{alimento.id}}" onclick="return onlyOneCheckBox{{comida}}()"> {{alimento.nombre}} <!-- {{alimento.id}} {{alimento.comida}} -->
                            </label><br>
                            {% endif %}
                        {% endfor %}
                        </div>
                        <script type="text/javascript">
                            onlyOneCheckBox{{comida}}()
                        </script>
                    {% endif %}
                {% endfor %}

                <input type="submit" value="Perfecto! Vamos al paso 2">
            </form>
        </div>

        <!-- otra forma de contar checkboxes -->
<!--         <div>
                <span id="notvalid" style="color: red;"> </span>
            </div>

            <script type="text/javascript">

                function myfun() {
                    var a = document.getElementsByName('opcionesCena');
                    var newvar = 0;
                    var count;
                    for(count = 0; count <a.length; count++){
                        if(a[count].checked==true){
                            newvar = newvar + 1;
                        }
                    }

                    if(newvar>=5){
                        document.getElementById('notvalid').innerHTML="**Please select only Four**"
                        return false;
                    }

                    if(newvar<5){
                        document.getElementById('notvalid').innerHTML=""
                        return true;
                    }
                }
                
            </script> -->
    </main>
{% endblock %}