{% extends 'nutriplan/aaa_base.html' %}

{% load static %}

{% block extrahead %}
{% include 'nutriplan/script_msj_alerta.html' %}
{% endblock %}


{% block content %}
<div class="main px-5 py-3 text-center">
    <div class="m-5">
        <h2>Paso 4: Cenas</h2>
    </div>

    <div class="row mx-auto">
        <div>
            <p>Nuestro cuerpo nos ha acompañado en nuestras tareas diarias, y se prepara para ir a descansar.</p>
            <p>Debemos entregarle los nutrientes necesarios para que pueda regenerarse durante la noche.</p>
        </div>
    </div>
    <div class="m-5 text-center">
        <h3 style="color:white">Elige hasta 3 de tus alimentos favoritos para la cena.</h3>
    </div>
    <form action="/nutriplan/dieta-plan" method="POST">
        {% csrf_token %}

        {% for comida in COMIDA_CHOICES %}
        {% if comida == 'Cena' %}

        <div class="flex-container-pickfood ps-5" id="checkboxgroup{{comida}}" style="text-align: start;">
            {% for alimento in alimentos %}
            {% if alimento.comida == comida %}
            <div class="flex-container-pickfood-item">
                <label style="color:white">
                    <input type="checkbox" name="opciones{{comida}}" value="{{alimento.id}}"
                        onclick="return onlyOneCheckBox{{comida}}()"> {{alimento.nombre}}
                </label>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <script type="text/javascript">
                    onlyOneCheckBox{ { comida } } ()
        </script>
        {% endif %}
        {% endfor %}
        <br>
        <div class="m-5">
            <input class="btn btn-light btn-lg" style="border-radius: 50px;" type="submit"
                value="Has clic aquí para conocer tu dieta ideal">
        </div>
    </form>
    {% include 'nutriplan/footer.html' %}
</div>
{% endblock %}