{% load static %}
<div class="container mt-5 pt-5">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-1 my-1 border-top">
        <p class="col-md-4">&copy; 2023 Darian Yane</p>

        <img class="rounded-circle bg-body my-4" style="border-color:#3c7e46; border-width: 3px; border-style: solid;"
            width="60" height="60" src="{% static 'assets/img/LOGO_NUTRIPLAN.png' %}" alt="Nutriplan Logo" />

        <ul class="nav col-md-4 justify-content-end">
            <p class="text-white mt-3">Do you want to see the code of this project? <a href="https://github.com/DarianYane/Dev-Portfolio/tree/main/nutriplan"
                    target="_blank"><img id="btn-scaled" width="40" height="40" src="{% static 'assets/img/Github-Icon-V7.png' %}"
                        alt="Python_logo" /></a></p>
        </ul>
    </footer>
</div>