<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutriplan</title>
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet" />
    <link href="{% static 'css/nutriplan.css' %}" rel="stylesheet" />
</head>
<body>
    <header>
        <div>
            <h1>
                Plan Nutricional y Suplementación
            </h1>
        </div>
    </header>
    <main>
        <div>
            <h2>
                Datos Personales
            </h2>
        </div>
        <div>
            <ul>
                <li>Nombre: Claudia</li>
                <li>Sexo: Mujer</li>
                <li>Edad: 26 años</li>
                <li>Altura: 165 centímetros</li>
                <li>Peso: 60 kilos</li>
            </ul>
        </div>
        <div>
            <h2>Índice Metabólico Basal (IMB)</h2>
            <p>El índice metabólico basal (IMB) es la cantidad de energía que el cuerpo necesita para realizar sus actividades básicas, como respirar, digerir alimentos y mantener la temperatura corporal. Se calcula utilizando una fórmula que tiene en cuenta la edad, el peso, la estatura y el género de una persona.

            </p><p>
            La fórmula para calcular el IMB de Harris–Benedict revisada por Mifflin y St Jeor en 1990 para hombres es:</p><p>

            IMB (en calorías por día) = (10 x peso en kg) + (6.25 x estatura en cm) - (5 x edad en años) + 5</p><p>

            La fórmula para calcular el IMB de Harris–Benedict revisada por Mifflin y St Jeor en 1990 para mujeres es:</p><p>

            IMB (en calorías por día) = (10 x peso en kg) + (6.25 x estatura en cm) - (5 x edad en años) - 161</p>

            <p>Fuente: <a href="https://en.wikipedia.org/wiki/Harris%E2%80%93Benedict_equation">https://en.wikipedia.org/wiki/Harris%E2%80%93Benedict_equation</a></p>
            <p>
            Es importante tener en cuenta que estas fórmulas son solo una aproximación y no tienen en cuenta factores como la actividad física, la composición corporal y otros aspectos que pueden afectar el metabolismo. Además, es importante recordar que el IMB no es una medida precisa de las necesidades calóricas diarias de una persona, ya que estas pueden variar ampliamente dependiendo de la actividad física, el estado de salud y otros factores.</p>
        </div>
        <div>
            <p>
                El IMB de {Claudia} es 1340 kilo-calorías (Kcal).
            </p>
        </div>
        <div>
            <h2>Rango de Actividad Física (RAF)</h2>
            <p>Seleccione el rango de actividad física actual:</p>
            <ul>
                <li>Sedentario: Hasta 1 estímulo físico por semana.</li>
                <li>Ejercicio Ligero: Entre 2 y 3 estímulos físicos por semana.</li>
                <li>Ejercicio Moderado: Entre 4 y 5 estímulos físicos por semana.</li>
                <li>Deportista: 6 o más estímulos físicos por semana.</li>
            </ul>
        </div>
        <div>
            <h2>Calorías de Mantenimiento (CDM)</h2>
            <p>Las calorías de mantenimiento son la cantidad de calorías que necesita una persona para mantener su peso actual sin ganar ni perder peso. Esto puede variar de persona a persona y depende de factores como el tamaño del cuerpo, la actividad física, la edad, el metabolismo y el género.
            </p>
            <p>CDM = IMB*(1, 1,3, 1,5, 1,7 segun el RAF)</p>
            <p>
            Las calorías de mantenimiento de {Claudia} son 1742 kilo-calorías (Kcal).</p><p>
            Es importante tener en cuenta que las calorías de mantenimiento no son una cifra exacta y pueden variar en función de las necesidades individuales de cada persona. Por lo tanto, es importante hacer un seguimiento de su consumo de calorías y ajustar su ingesta de alimentos en consecuencia para alcanzar o mantener un peso saludable.</p>
        </div>
        <div>
            <h2>Objetivo deseado</h2>
            <p>Seleccione tu objetivo</p>
            <ul>
                <li>Perder peso</li>
                <li>Ganar masa muscular</li>
            </ul>
            <p>Para alcanzar tu objetivo debes consumir 1481 kilo-calorías (Kcal) diarias.</p>
        </div>
        <div>
            <h2>Macronutrientes</h2>
            <p>Para alcanzar tu objetivo debes consumir diariamente la siguiente combinación de proteínas, grasas e hidratos de carbono:</p>
            <table>
                <tr>
                    <th>Tipo</th>
                    <th>Porcentaje</th>
                    <th>Gramos</th>
                </tr>
                <tr>
                    <td>Proteínas</td>
                    <td>40%</td>
                    <td>148 gramos</td>
                </tr>
                <tr>
                    <td>Grasas</td>
                    <td>30%</td>
                    <td>49 gramos</td>
                </tr>
                <tr>
                    <td>Hidratos de Carbono</td>
                    <td>30%</td>
                    <td>111 gramos</td>
                </tr>
            </table>
        </div>
        <div>
            (imagen de grafico de torta de los macronutrientes)
        </div>
        <div>
            <form action="nutriplan/how-many-calories" method="POST">
                {% csrf_token %}
                <h2>
                    Datos Personales
                </h2>
                
                <label for="gender">Género:</label><br>
                <input type="radio" id="gender" name="gender" value="hombre">Hombre<br>
                <input type="radio" id="gender" name="gender" value="mujer">Mujer<br>

                <br>
                
                <label for="age">Edad:</label><br>
                <input type="number" id="age" name="age" min="15" max="120"><br>
                
                <br>
                
                <label for="height">Altura (en centímetros):</label><br>
                <input type="number" id="height" name="height" max="250"><br>
                
                <br>
                
                <label for="weight">Peso (en kilogramos):</label><br>
                <input type="number" id="weight" name="weight" min="30"><br>
                
                <br>

                <input type="submit" value="Calcular">
            </form>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>
