<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% for comida in COMIDA_CHOICES %}
    <!-- Script dinámico para el mensaje de alerta -->
    <script type="text/javascript">
        function onlyOneCheckBox{{comida}}() {
            
            var checkboxgroup{{comida}} = document.getElementById('checkboxgroup{{comida}}').getElementsByTagName("input");
            var limit = 3;
            for (var i = 0; i < checkboxgroup{{comida}}.length; i++) {
                checkboxgroup{{comida}}[i].onclick = function() {
                    var checkedcount = 0;
                        for (var i = 0; i < checkboxgroup{{comida}}.length; i++) {
                        checkedcount += (checkboxgroup{{comida}}[i].checked) ? 1 : 0;
                    }
                    if (checkedcount > limit) {
                        /* console.log("You can select maximum of " + limit + " checkbox."); */
                        /* Mensaje de alerta si se quieren seleccionar más opciones de las permitidas */
                        swal("Recuerda que sólo puedes seleccionar " + limit + " opciones de {{comida.lower}} como máximo","","error");
                        
                        this.checked = false;
                    }
                }
            }
        }
    </script>
{% endfor %}