{% extends 'grade/000-base.html' %}

{% load static %}

{% block content %}

<body>
    <div
        style="display: flex; align-items: center; justify-content: center; height: 100vh; flex-direction: column; font-family: Verdana, Geneva, Tahoma, sans-serif;">
        <h3 style="margin: 12px; margin-top: -60px;">Create a New Student</h3>
        <div style="margin: 12px; text-align: center;">
            <form action="{% url 'new-student' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}

                {% if user.is_authenticated %}
                    <input class="btn btn-primary" type="submit" value="Submit">
                {% else %}
                    <input class="btn btn-primary disabled" type="submit" value="Submit">
                {% endif %}

            </form>
        </div>
        {% include 'grade/98-back-home-button.html' %}
        {% include 'grade/99-footer.html' %}
    </div>
</body>

{% endblock %}