<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div
        style="display: flex; align-items: center; justify-content: center; height: 100vh; flex-direction: column; font-family: Verdana, Geneva, Tahoma, sans-serif;">
        <h3 style="margin: 12px; margin-top: -60px;">Create a New Student</h3>
        <div style="margin: 12px; text-align: center;">
            <form action="{% url 'new-student' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>
        </div>
        <div style="margin-top: 20px;">
            <a href="{% url 'grade-home' %}"><button type="submit">Home</button></a>
        </div>
    </div>
    

    
</body>
</html>