<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: flex; justify-content: space-evenly;">
        <div>
            Criteria
            <p style="visibility: hidden;">.</p>
            <p style="visibility: hidden;">.</p>
            <p style="visibility: hidden;">.</p>
            {% for i in tasks %}
                <p>{{i}}</p>
            {% endfor %}
        </div>
        <div>
            Create a New Rating
            <form action="{% url 'new-rating' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>
            <p>
                <a href="{% url 'grade-home' %}"><button  type="submit">Home</button></a>
            </p>
        </div>
    </div>
</body>
</html>