{% load static %}

<div class="container">
    <footer class="py-4 my-5">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="{% url 'home' %}" class="nav-link px-2 text-muted">Back to Portfolio Main Page</a></li>
            <!-- <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li> -->
        </ul>
        <p class="text-center text-muted">Copyright © Darian Yane 2023</p>
    </footer>
</div>