{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
<head>
    {% include 'blog/main_title.html' %}

    <div class="position-relative overflow-hidden text-center mb-5">
        <div class="col-md-6 p-lg-6 mx-auto my-1">
            <h3 class="fw-normal" style="color:#ffd000;">I welcome you to an adapted copy of the Travel Blog that I did as my final assignment for the Python course at Coderhouse.</h3>
            <p class="lead fw-normal text-muted" style="color:#ffffff;">If you want more information about it, you can access <a  href="https://www.coderhouse.com/online/python" target="_blank" class="text-reset" >here</a>.<br>You can also find <a href="https://github.com/DarianYane/Entrega-Final-Python-Coderhouse-Blog" target="_blank" class="text-reset">here</a> the code of the original work.</p>
        </div>
    </div>
</head>

<body>
    <div class="">
        {% for post in object_list %}
            {% include 'blog/post_preview.html' %}
        {% endfor %}
    </div>    
</body>

{% endblock %}