{% extends 'aboutme/base.html' %}

{% load static %}

{% block content %}

<head>
	<title>Darian Yane</title>
	<link href="{% static 'css/styles.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body class="about-body">
	<br>
	<div class="container">
		<div class="flex-container-about">
			<div class="flex-item-about card card-body border-info text-center" style="min-width: 200px;">
				<img id="profile-pic" src="{% static 'img/profile-pic.png' %}">
				<hr>
				<h4>Hi I'm Darian!</h4>
				<p>I can learn fast. I am happy solving problems, helping others, and learning new things.</p>
				<br>
				<br>
				<p><a target="_blank" style="color:#000000;" title="linkedin" alt="linkedin"
						href="https://www.google.com/maps/place/Mar+del+Plata,+Provincia+de+Buenos+Aires/@-38.0173442,-57.7440574,12z/data=!3m1!4b1!4m5!3m4!1s0x9584d94d19d34209:0xdd9670804bfed126!8m2!3d-38.0054771!4d-57.5426106"><img
							class="social" src="{% static 'assets/Transparent-Location-Icon.png' %}" /> Mar del Plata,
						Argentina</a></p>
				<p><a target="_blank" href="{% static 'resume.pdf' %}">Download Resume</a></p>
				<br>
				<br>
				<div-row>
					<a target="_blank" title="linkedin" alt="linkedin"
						href="https://www.linkedin.com/in/darian-yane/"><img class="social"
							src="{% static 'assets/linkedin.png' %}" /></a>
					<a target="_blank" title="twitter" alt="twitter"
						href="https://mobile.twitter.com/darianinvierte"><img class="social"
							src="{% static 'assets/twitter.png' %}" /></a>
					<a target="_blank" title="youtube" alt="youtube"
						href="https://www.youtube.com/c/DarianInvierte"><img class="social"
							src="{% static 'assets/youtube.png' %}" /></a>
				</div-row>
				<div class="mt-2">
					<p><small><a href="mailto:yanedarian.dev@gmail.com">yanedarian.dev@gmail.com</a></small></p>
				</div>
			</div>
			<div class="flex-item-about card card-body border-info text-justify" style="min-width: 200px;">
				<h4>How can I help you? 🤝</h4>
				<hr>
				<p>You will be adding to your company a person willing to help the team in any task needed.</p>
				<p>Through my analytical skills I will solve any kind of problems that may arise on a daily basis.</p>
				<p>You will be hiring an enthusiastic person, who can work alone or in a team, and who is constantly
					looking for ways to generate new solutions, or optimize existing processes.</p>
				<p>My knowledge of Python, Django, Bootstrap, Economics, Finance and Statistics, added to my extensive
					work experience in all types of companies and teams, make my incorporation extremely fluid and
					effective.</p>
				<h4>What am I looking for? 🔍 - My Short Term Goals 🎯</h4>
				<hr>
				<p>Two years ago I discovered that I want to work as a developer for the rest of my life. I like to be
					useful solving problems and automating processes.</p>
				<p>I am looking for a company that gives me an opportunity to demonstrate my skills and knowledge, and I
					offer my absolute commitment to be able to collaborate with whatever the company and the team needs.
				</p>
				<p>In the medium term, I want to continue learning about machine learning, artificial intelligence and
					blockchain programming.</p>
			</div>
		</div>
		<div class="flex-container-about">
			<div class="flex-item-about card card-body border-info text-justify" style="min-width: 200px;">
				<h5>Programming skills ⌨ - What I Know 🤓</h5>
				<hr>
				<h6>Programming skills</h6>
				<p><strong>PYTHON<img class="mb-1 mx-1" width="19" height="19"
							src="{% static 'assets/img/python-logo.png' %}" alt="Python_logo" />, DJANGO<img
							class="mb-1" width="22" height="19" src="{% static 'assets/img/django-logo.png' %}"
							alt="Django_logo" />, BOOTSTRAP<img class="mb-1" width="26" height="26"
							src="{% static 'assets/img/bootstrap-logo.png' %}" alt="Bootstrap_logo" /></strong>, PANDAS,
					NUMPY, MATHPLOTLIB, HTML, CSS, SQL, APIs, VBA, GIT, EXCEL (Macros included), POWER QUERY and POWER
					BI.</p>
				<p>PS: In 2023 I will be taking the Data Sciense course at Coderhouse. In addition, I am still learning
					Machine Learning, AI and SOLIDITY on my own.</p>
				<br>
				<h6>What I Know</h6>
				<p>Reverse Engineer: <strong>I can learn fast</strong> having a final product to tear apart piece by
					piece. I break the code where I need to figure out why things work the way they do. Documentation is
					just a reference.</p>
			</div>
			<div class="flex-item-about card card-body border-info text-justify" style="min-width: 200px;">
				<h5>My work experience 💼</h5>
				<hr>
				<p>Although I have already worked as a tutor (grading homework assignments) in the Python course at
					Coderhouse, I am looking for my first work experience as a developer.</p>
				<p>In addition to the Python course done at Coderhouse, I am permanently training myself through
					applications and Youtube videos that I replicate to analyze the effects of each programming line.
				</p>
				<p>In the past, I have worked for national and multinational companies, generally in administrative or
					finance areas.</p>
				<p>I have experience working in Accounts Payable, Risk Management, and Treasury; in Power Generators,
					Banks, and Laboratories.</p>
			</div>
		</div>
		<div class="flex-container-about">
			<div class="flex-item-about card card-body border-info text-justify" style="min-width: 400px;">
				<h5>Rewards 🏆</h5>
				<hr>
				<ul class=" list-group-flush">
					<p>
						<li>🥇 1st Place Tournament "ACBSP - Company Game", 2019, Company Game (Business Simulator).
						</li>
					</p>
					<p>
						<li>🏅 Member of the <a
								href="https://www.oma.org.ar/internacional/resultados-con9sel.htm">Argentine Team that
								participated in the 9th Olympiad of the Southern Cone, 1998</a>, Argentine Mathematical
							Olympiad (OMA).</li>
					</p>
					<p>
						<li>🏅 <a href="https://www.oma.org.ar/nacional/resultados-oma13nac.htm">National Mention in the
								13th Argentine Mathematical Olympiad, 1996</a>, Argentine Mathematical Olympiad (OMA).
						</li>
					</p>
			</div>
		</div>
		<div class="flex-container-about">
			<div class="flex-item-about card card-body border-info text-justify" style="min-width: 200px;">
				<h5>Education 📖</h5>
				<hr>
				<ul>
					<div class="li-aboutme"><img class="social" src="{% static 'assets/check.png' %}" /> <strong>Python</strong> at <a
							href="https://www.coderhouse.com/" style='color: black'>Coderhouse</a></div>
					<div class="li-aboutme"><img class="social" src="{% static 'assets/check.png' %}" /> <strong>MBA</strong> at <a
							href="https://www.uade.edu.ar/" style='color: black'>UADE</a></div>
					<div class="li-aboutme"><img class="social" src="{% static 'assets/check.png' %}" /> <strong>Degree in
							Economics</strong> at <a href="https://www.uba.ar/#/" style='color: black'>UBA</a></div>
				</ul>
			</div>
			<div class="flex-item-about card card-body border-info text-justify" style="min-width: 200px;">
				<h5>Languajes ✈</h5>
				<hr>
				<ul class=" list-group-flush">
					<div class="li-aboutme"><img class="social" src="{% static 'assets/check.png' %}" /> Advanced <strong>English</strong></div>
					<div class="li-aboutme"><img class="social" src="{% static 'assets/check.png' %}" /> Advanced <strong>Portuguese</strong></div>
					<div class="li-aboutme"><img class="social" src="{% static 'assets/check.png' %}" /> Native <strong>Spanish</strong>
					</div>
				</ul>
			</div>
		</div>
		<div class="flex-container-about">
			<div class="flex-item-about card card-body border-info text-justify" style="min-width: 200px;">
				<h5><a href="/#My projects" style='color: black'>My projects</a> 🧬</h5>
				<hr>
				<p>As a final assignment for the Python course at Coderhouse, I made a <a
						href="https://github.com/DarianYane/Entrega-Final-Python-Coderhouse-Blog" target="_blank"
						class="text-reset">Travel Blog</a> with a teammate.</p>
				<p>At the same time, for this portfolio, I created <a target="_blank" style="color:#000000;"
						href="{% url 'fastReading/upload' %}">Fast-Reading</a>, a project that formats texts to
					facilitate a more efficient reading.</p>
			</div>
			<div class="flex-item-about card card-body border-info text-justify" style="min-width: 200px;">
				<h5><a href="/#Roadmap" style='color: black'>Roadmap</a> 🛣</h5>
				<hr>
				<p>I will soon develop a project to generate personalized food diets, based on an Excel file I have
					created.</p>
				<p>Then I want to develop a project that uses an API and is linked to finance and investments; and a
					project that generates personalized physical exercise routines for the gym.</p>
				<p>Additionally, I intend to continue improving my English level, and learning about Machine Learning,
					Solidity and Artificial Intelligence.</p>
			</div>
		</div>
	</div>
</body>

{% endblock %}