<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <!-- Footer-->
    <div class="d-flex justify-content-evenly align-items-center">
        <div class="col-4 p-2 text-center">
        </div>
            <footer class="footer col-4 text-center">
                <div class="container px-4 px-lg-5">
                    <ul class="list-inline mb-5">
                        <li class="list-inline-item">
                            <a class="social-link rounded-circle text-white" href="https://www.linkedin.com/in/darian-yane/" target="_blank"><i class="icon-social-linkedin"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="social-link rounded-circle text-white" href="https://github.com/DarianYane" target="_blank"><i class="icon-social-github"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="social-link rounded-circle text-white" href="https://www.youtube.com/c/DarianInvierte" target="_blank"><i class="icon-social-youtube"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a class="social-link rounded-circle text-white" href="https://twitter.com/DarianInvierte" target="_blank"><i class="icon-social-twitter"></i></a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-0">Copyright &copy; Darian Yane 2022</p>
                </div>
            </footer>
        <div class="col-4 text-center align-items-center">
            <a href="#page-top" style="text-decoration:none"><img class="p-1 bg-body mb-1" src="{% static 'assets/img/back-to-top.png' %}" style="  height: 5rem; width: 5rem;" alt="Back-to-top"/><p class="text-muted small mb-0">Back to Top</p></a>
            <br>
            <br>
        </div>        
    </div>

</html>