{% extends 'landing/base.html' %}

{% load static %}

{% block extrahead %}

    <style>
        #btn-scaled {
            transition: transform 0.3s;
        }

        #btn-scaled:hover {
            transform: scale(1.2);
        }
    </style>

{% endblock %}

{% block content %}
    <!-- Header-->
    <header class="masthead d-flex align-items-center" style="height: auto;">
        <div class="container mt-3 px-4 px-lg-5 text-center">
            <!-- Masthead Avatar Image-->
            <img class="rounded-circle shadow p-1 bg-body mb-4" width="250" height="250" src="{% static 'assets/img/profile-pic.png' %}" alt="Profile picture"/>
            <!-- Masthead Heading-->
            <h1 class="mb-3">Darian Yane</h1>
            <!-- Masthead Subheading-->
            <h2 class="mb-3" style="font-size: 50px; color: orange;"><em>Data Analyst</em></h2>
            <h2 class="mb-3" style="color: orange;"><em>Python Developer</em></h2>
            <h2 class="mb-5" style="font-size: 35px;"><em>Degree in Economics and MBA</em></h2>
            <div class="row align-items-center" style="justify-content: center;">
                <div class="col-lg-2 mx-5" >
                    <div class="logo-python p-1 mb-4">
                        <img class="p-1 bg-body mb-4" width="120" height="120" src="{% static 'assets/img/landing/python-logo.png' %}" alt="Python logo">
                    </div>
                </div>
                <div class="col-lg-2 mx-5">
                    <div class="logo-SQL p-1 mb-4" style="margin-left: -5px;">
                        <img class="p-1 bg-body mb-4" width="200" height="120" src="{% static 'assets/img/landing/SQL-logo.png' %}"
                            alt="SQL logo" />
                    </div>
                </div>
                <div class="col-lg-2 mx-5">
                    <div class="logo-django p-1 mb-4" style="margin-top: 10px; margin-left: -50px;">
                        <img class="p-1 bg-body mb-4" width="140" height="120" src="{% static 'assets/img/landing/django-logo.png' %}" alt="Django logo"/>
                    </div>
                </div>
            </div>
            <div class="row align-items-center" style="justify-content: space-around; scale: 0.7;" >
                <!-- <div class="col-lg-2 "></div> -->
                <div class="col-lg-2" >
                    <div class="logo-python p-1 mb-4">
                        <img class="p-1 bg-body mb-4" width="120" height="120"
                            src="{% static 'assets/img/landing/numpy-logo.png' %}" alt="Numpy logo" />
                    </div>
                </div>
                <!-- <div class="col-lg-1 "></div> -->
                <div class="col-lg-2">
                    <div class="logo-pandas p-1 mb-4" style="margin-top: 10px;">
                        <img class="p-1 bg-body mb-4" width="180" height="150" src="{% static 'assets/img/landing/pandas-logo.png' %}"
                            alt="Pandas logo" />
                    </div>
                </div>
                <!-- <div class="col-lg-1 "></div> -->
                <div class="col-lg-2">
                    <div class="logo-power-bi p-1 mb-4" style="margin-top: 10px;">
                        <img class="p-1 bg-body mb-4" width="140" height="150"
                            src="{% static 'assets/img/landing/power-bi-logo.png' %}" alt="Power Bi logo" />
                    </div>
                </div>
                <!-- <div class="col-lg-1 "></div> -->
                <div class="col-lg-2">
                    <div class="logo-pandas p-1 mb-4" style="margin-top: 30px; margin-left: -50px;">
                        <img class="p-1 bg-body mb-4" width="300" height="70" src="{% static 'assets/img/landing/matplotlib-logo.webp' %}"
                            alt="Matplotlib logo" />
                    </div>
                </div>
                <!-- <div class="col-lg-2 "></div> -->
            </div>
            <p><a class="btn btn-success btn-xl active fs-5" href="#Reasons_for_hiring_me" id="btn-scaled">Reasons for hiring me</a></p>
        </div>
    </header>
    <!-- Reasons for hiring me-->
    <section class="content-section bg-primary" id="Reasons_for_hiring_me">
        <div class="container px-4 px-lg-5 text-center">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-10">
                    <div class="content-section-heading text-center">
                        <h3 class="text-secondary mb-0 mt-4">Why you should</h3>
                        <h2 class="mb-5">Hire Me</h2>
                    </div>
                    <p class="lead mb-3 text-white" style="font-size: 30px">
                        My knowledge of <strong>Python, SQL, Django, Numpy, Pandas, PowerBI, Economics, Finance and Statistics</strong>, added to my extensive work experience in all types of companies and teams, make <strong>my incorporation extremely fluid and effective</strong>.
                    </p>
                    <br>

                    <p class="lead mb-4 text-white" style="font-size: 24px">
                        You will be hiring an <strong>enthusiastic</strong> person, who <strong>can work alone or in a team</strong>, 
                        and who is constantly <strong>looking for ways to generate new solutions, or optimize existing processes</strong>.
                    </p>
                    <br>

                    <div class="content-section-heading text-center">
                        <h2>I will be productive from day one!</h2>
                    </div>
                    <br>
                    <br>
                    <br>
                    <a class="btn btn-light btn-xl fs-5 mb-4" href="#My_projects" id="btn-scaled"><i class="bi bi-briefcase"></i>&nbsp;&nbsp;&nbsp;My projects</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Projects -->
    <section class="content-section mt-4" id="My_projects">
        <div class="container px-4 px-lg-5">
            <div class="content-section-heading text-center">
                <h3 class="text-secondary mb-0">Portfolio</h3>
                <h2 class="mb-5">Recent Projects</h2>
            </div>
            {% include 'landing/projects.html' %}
        </div>
    </section>
    <!-- About me -->
    {% include 'landing/aboutme.html' %}

    <!-- Roadmap -->
    {% include 'landing/roadmap.html' %}

    <!-- Contact -->
    {% include 'landing/contact_method_2.html' %}

    <!-- Pre-Footer -->
    {% include 'landing/pre_footer.html' %}

{% endblock %}