{% load static %}

<br>
<div class="container px-4 px-lg-5 mt">
    <div class="row gx-0">
        <div class="col-lg-6">
            <a class="portfolio-item" href="{% url 'fastReading/upload' %}">
                <div class="caption">
                    <div class="caption-content">
                        <div class="h3">Fast-Reading</div>
                        <p class="mb-0">This application allows you to format a text to make it faster to read.</p>
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'assets/img/words.jpg' %}" alt="..." />
            </a>
        </div>
        <div class="col-lg-6">
            <a class="portfolio-item" href="{% url 'BlogListView' %}">
                <div class="caption">
                    <div class="caption-content">
                        <div class="h3">Travel Blog</div>
                        <p class="mb-0">Final project of the Python course at Coderhouse. It includes a CRUD and a user management system.</p>
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'assets/img/travel-blog.jpg' %}" alt="..." />
            </a>
        </div>
        <div class="col-lg-6">
            <a class="portfolio-item" href="#!">
                <div class="caption">
                    <div class="caption-content">
                        <div class="h3">Exercise Routine (Coming soon)</div>
                        <p class="mb-0">Let artificial intelligence generate the best personalized exercise routine for you!</p>
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'assets/img/portfolio-3.jpg' %}" alt="..." />
            </a>
        </div>
        <div class="col-lg-6">
            <a class="portfolio-item" href="#!">
                <div class="caption">
                    <div class="caption-content">
                        <div class="h3">Nutri Worksheet (Coming soon)</div>
                        <p class="mb-0">With this application you will be able to generate a diet according to your characteristics and objectives.</p>
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'assets/img/portfolio-2.jpg' %}" alt="..." />
            </a>
        </div>
        <div class="col-lg-6">
            <a class="portfolio-item" href="#!">
                <div class="caption">
                    <div class="caption-content">
                        <div class="h3">Exercise Routine (Coming soon)</div>
                        <p class="mb-0">Let artificial intelligence generate the best personalized exercise routine for you!</p>
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'assets/img/portfolio-3.jpg' %}" alt="..." />
            </a>
        </div>
        <div class="col-lg-6">
            <a class="portfolio-item" href="#!">
                <div class="caption">
                    <div class="caption-content">
                        <div class="h3">Any application related to Finance and the use of APIs (Coming soon)</div>
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'assets/img/portfolio-4.jpg' %}" alt="..." />
            </a>
        </div>
        <div class="col-lg-12 text-center">
            <a class="btn btn-success btn-xl m-5 active fs-5" href="#About Me">About Me</a>
        </div>
    </div>
</div>
