{% load static %}

<br>
<div class="container px-4 px-lg-5">
    <div class="row gx-0">
        <div class="col-lg-6">
            <a class="portfolio-item" href="{% url 'nutrihome' %}">
                <div class="caption">
                    <div class="caption-content">
                        <h3>NutriPlan</h3>
                        <p class="mb-0">With this application you can generate a diet according to your characteristics and goals. (January 2023)</p>
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'assets/img/comida-en-corazon.jpg' %}" alt="Food Heart Shape"/>
            </a>
        </div>
        <div class="col-lg-6">
            <a class="portfolio-item" href="{% url 'grade-home' %}">
                <div class="caption">
                    <div class="caption-content">
                        <h3>Grade (Under Construction)</h3>
                        <p class="mb-0">Application to keep track and monitor the corrections that a teacher makes on the
                            delivery of the work of their
                            students.</p>
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'assets/img/Grade.jpg' %}" alt="Grade" style="filter: brightness(70%);" />
            </a>
        </div>
        
        <div class="col-lg-6">
            <a class="portfolio-item" href="{% url 'fastReading/upload' %}">
                <div class="caption">
                    <div class="caption-content">
                        <h3>Fast-Reading</h3>
                        <p class="mb-0">This application allows you to format a text to make it faster to read. (September 2022)</p>
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'assets/img/words.jpg' %}" alt="Letters" />
            </a>
        </div>
        <div class="col-lg-6">
            <a class="portfolio-item" href="{% url 'BlogListView' %}">
                <div class="caption">
                    <div class="caption-content">
                        <h3>Travel Blog</h3>
                        <p class="mb-0">Final project of the Python course at Coderhouse. It includes a CRUD and a user
                            management system. (November 2022)</p>
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'assets/img/travel-blog.jpg' %}" alt="Paris afternoon" />
            </a>
        </div>
        <div class="col-lg-12 text-center">
            <a class="btn btn-success btn-xl m-5 active fs-5" href="#About_Me" id="btn-scaled">About Me</a>
        </div>
    </div>
</div>
